.map {
  width: 350px;
  height: 350px;
  position: relative;
  width: 100%;
  //flex: 0 1 50%;
  &__primary {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  &__content {
    color: #333;
  }
}